<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cotterexample">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignInWithDevice"></activity>
        <activity android:name=".TrustedDevice" />
        <activity android:name=".Login" />
        <activity android:name=".Dashboard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ADD THIS LINE HERE -->
        <!-- Register URL Scheme for IdentityRequest redirect url -->
        <activity
            android:name="com.cotter.app.RedirectUriReceiverActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Add this for: com.example.cotterexample://auth_callback -->
                <data
                    android:host="auth_callback"
                    android:scheme="com.example.cotterexample" />
            </intent-filter>
        </activity>
        <!-- UNTIL HERE -->

    </application>

</manifest>